---
import ReactIcon from "./icons/Languages/React.astro"
import TailwindIcon from "./icons/Languages/Tailwind.astro"
import AstroIcon from "./icons/Languages/AstroIcon.astro"
import CIcon from "./icons/Languages/C++.astro"
import HTML5Icon from "./icons/Languages/HTML5.astro"
import CSSIcon from "./icons/Languages/CSS.astro"
import NodeIcon from "./icons/Languages/Node.astro"
import ExpressIcon from "./icons/Languages/Express.astro"
import JavascriptIcon from "./icons/Languages/Javascript.astro"
import ORMIcon from "./icons/Languages/ORM.astro"

const TAGS = {
    REACT: {
        name: "Reacjs",
        class: "bg-black text-blue-200",
        icon: ReactIcon
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-black text-[#73bcf6]",
        icon: TailwindIcon
    },
    ASTRO: {
        name: "Astro",
        class: "bg-black text-white",
        icon: AstroIcon
    },
    C: {
      name: "C++",
      class: "bg-black text-white",
      icon: CIcon
    },
    HTML: {
      name: "HTML5",
      class: "bg-black text-white",
      icon: HTML5Icon
    },
    CSS: {
      name: "CSS3",
      class: "bg-black text-white",
      icon: CSSIcon
    },
    NODE: {
      name: "Nodejs",
      class: "bg-black text-white",
      icon: NodeIcon
    },
    JAVASCRIPT: {
      name: "Javascript",
      class: "bg-black text-white",
      icon: JavascriptIcon
    },
    EXPRESS: {
      name: "Expressjs",
      class: "bg-black text-white",
      icon: ExpressIcon
    },
    ORM: {
      name: "ORM de sequelize",
      class: "bg-black text-white",
      icon: ORMIcon
    },
}

const PROJECTS = [
  {
    title: "Portafolio",
    description: "Creaci贸n de pagina con Astro, Tailwing y HTML5 para agregar toda informaci贸n a un portafolio",
    link: "https://github.com/MarcoRosas49/portfolio-dev",
    github: "https://github.com/MarcoRosas49/portfolio-dev",
    image: "../../images/imgPortafolio.png",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.HTML],
  },
  {
    title: "Videogames Project",
    description: "Creaci贸n de pagina con react, nodejs, express para el consumo de una API de videojuegos y mediante un ORM guardar la informaci贸n en una base de datos Postgres",
    link: "https://github.com/MarcoRosas49/PI_VideoGame",
    github: "https://github.com/MarcoRosas49/PI_VideoGame",
    image: "",
    tags: [TAGS.REACT, TAGS.NODE, TAGS.EXPRESS, TAGS.HTML, TAGS.CSS],
  },
];

---



{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-3 mt-11">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4"/>
                {tag.name}    
            </span>
          </li>
        ))}
      </ul>
      <img 
        class="rounded shadow-2xl shadow-white/20" 
        src={image} 
        alt={`Imagen del proyecto ${image}`} />
    </article>
  ))
}
