---
import ReactIcon from "../components/icons/React.astro"
import TailwindIcon from "../components/icons/Tailwind.astro"
import AstroIcon from "../components/icons/AstroIcon.astro"

const TAGS = {
    REACT: {
        name: "Reacjs",
        class: "bg-black text-blue-200",
        icon: ReactIcon
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-white text-[#73bcf6]",
        icon: TailwindIcon
    },
    ASTRO: {
        name: "Astro",
        class: "bg-black text-white",
        icon: AstroIcon
    }
}

const PROJECTS = [
  {
    title: "Proyecto 1",
    description: "Lorem ipsum",
    link: "#",
    github: "#",
    image: "",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.ASTRO],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4"/>
                {tag.name}    
            </span>
          </li>
        ))}
      </ul>
      <img 
        class="rounded shadow-2xl shadow-white/20" 
        src={image} 
        alt={`Imagen del proyecto ${image}`} />
    </article>
  ))
}
